In [63]:
cd /Users/Diane/benson/sf18_ds9_benson/

/Users/Diane/benson/sf18_ds9_benson

In [64]:
import sys
import os
import glob
import datetime

In [65]:
import pandas as pd

In [66]:
file_list = glob.glob("data/turnstile_*.txt.gz")

In [67]:
df_list = [pd.read_csv(file_name) for file_name in file_list]
df = pd.concat(df_list)

In [68]:
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,03:00:00,REGULAR,5991546,2028378
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,07:00:00,REGULAR,5991565,2028389
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,11:00:00,REGULAR,5991644,2028441
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,15:00:00,REGULAR,5991971,2028502
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,19:00:00,REGULAR,5992418,2028543
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,23:00:00,REGULAR,5992638,2028572
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,03:00:00,REGULAR,5992718,2028585
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,07:00:00,REGULAR,5992730,2028594
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,11:00:00,REGULAR,5992776,2028636
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,15:00:00,REGULAR,5992980,2028680
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,19:00:00,REGULAR,5993301,2028728
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,23:00:00,REGULAR,5993515,2028750
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,03:00:00,REGULAR,5993559,2028754
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,07:00:00,REGULAR,5993571,2028771
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,11:00:00,REGULAR,5993659,2028883
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,15:00:00,REGULAR,5993912,2028982
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,19:00:00,REGULAR,5994282,2029042
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,23:00:00,REGULAR,5994466,2029065
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,03:00:00,REGULAR,5994505,2029072
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,07:00:00,REGULAR,5994533,2029121
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,11:00:00,REGULAR,5994717,2029452
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,15:00:00,REGULAR,5995024,2029538
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,19:00:00,REGULAR,5995873,2029619
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,23:00:00,REGULAR,5996220,2029661
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,03:00:00,REGULAR,5996263,2029669
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,07:00:00,REGULAR,5996284,2029714
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,11:00:00,REGULAR,5996475,2030048
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,15:00:00,REGULAR,5996749,2030135
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,19:00:00,REGULAR,5997537,2030217
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,23:00:00,REGULAR,5997865,2030259
...,...,...,...,...,...,...,...,...,...,...,...
197391,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,05:00:00,REGULAR,5554,301
197392,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,09:00:00,REGULAR,5554,301
197393,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,13:00:00,REGULAR,5554,301
197394,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,17:00:00,REGULAR,5554,301
197395,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,21:00:00,REGULAR,5554,301
197396,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,01:00:00,REGULAR,5554,301
197397,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,05:00:00,REGULAR,5554,301
197398,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,09:00:00,REGULAR,5554,301
197399,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,13:00:00,REGULAR,5554,301
197400,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,17:00:00,REGULAR,5554,301
197401,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,21:00:00,REGULAR,5554,301
197402,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,01:00:00,REGULAR,5554,301
197403,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,05:00:00,REGULAR,5554,301
197404,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,09:00:00,REGULAR,5554,301
197405,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,13:00:00,REGULAR,5554,301
197406,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,17:00:00,REGULAR,5554,301
197407,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,21:00:00,REGULAR,5554,301
197408,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,01:00:00,REGULAR,5554,301
197409,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,05:00:00,REGULAR,5554,301
197410,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,09:00:00,REGULAR,5554,301
197411,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,13:00:00,REGULAR,5554,301
197412,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,17:00:00,REGULAR,5554,301
197413,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,21:00:00,REGULAR,5554,301
197414,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,01:00:00,REGULAR,5554,301
197415,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,05:00:00,REGULAR,5554,301
197416,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,07:17:19,REGULAR,5554,301
197417,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,09:00:00,REGULAR,5554,301
197418,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,13:00:00,REGULAR,5554,301
197419,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,17:00:00,REGULAR,5554,301
197420,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,21:00:00,REGULAR,5554,301

In [69]:
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [70]:
#remove space from EXITS column title
df.columns = [column.strip() for column in df.columns]

In [71]:
from datetime import datetime as dt

In [72]:
df["DATE_TIME"] = pd.to_datetime(df.DATE + " " + df.TIME, 
                                            format="%m/%d/%Y %H:%M:%S")

In [73]:
mask = ((df["C/A"] == "A002") & 
        (df["UNIT"] == "R051") & 
        (df["SCP"] == "02-00-00") & 
        (df["STATION"] == "59 ST"))
df[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,03:00:00,REGULAR,5991546,2028378,2016-12-31 03:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,07:00:00,REGULAR,5991565,2028389,2016-12-31 07:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,11:00:00,REGULAR,5991644,2028441,2016-12-31 11:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,15:00:00,REGULAR,5991971,2028502,2016-12-31 15:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,19:00:00,REGULAR,5992418,2028543,2016-12-31 19:00:00

In [74]:
mask = ((df["C/A"] == "R626") & 
(df["UNIT"] == "R062") & 
(df["SCP"] == "00-00-00") & 
(df["STATION"] == "CROWN HTS-UTICA"))
df[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
188630,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,12/31/2016,03:00:00,REGULAR,12456428,2767465,2016-12-31 03:00:00
188631,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,12/31/2016,07:00:00,REGULAR,12456539,2767480,2016-12-31 07:00:00
188632,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,12/31/2016,11:00:00,REGULAR,12456941,2767534,2016-12-31 11:00:00
188633,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,12/31/2016,15:00:00,REGULAR,12457380,2767606,2016-12-31 15:00:00
188634,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,12/31/2016,19:00:00,REGULAR,12457773,2767728,2016-12-31 19:00:00

In [75]:
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,03:00:00,REGULAR,5991546,2028378,2016-12-31 03:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,07:00:00,REGULAR,5991565,2028389,2016-12-31 07:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,11:00:00,REGULAR,5991644,2028441,2016-12-31 11:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,15:00:00,REGULAR,5991971,2028502,2016-12-31 15:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,19:00:00,REGULAR,5992418,2028543,2016-12-31 19:00:00
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,23:00:00,REGULAR,5992638,2028572,2016-12-31 23:00:00
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,03:00:00,REGULAR,5992718,2028585,2017-01-01 03:00:00
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,07:00:00,REGULAR,5992730,2028594,2017-01-01 07:00:00
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,11:00:00,REGULAR,5992776,2028636,2017-01-01 11:00:00
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,15:00:00,REGULAR,5992980,2028680,2017-01-01 15:00:00
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,19:00:00,REGULAR,5993301,2028728,2017-01-01 19:00:00
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,23:00:00,REGULAR,5993515,2028750,2017-01-01 23:00:00
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,03:00:00,REGULAR,5993559,2028754,2017-01-02 03:00:00
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,07:00:00,REGULAR,5993571,2028771,2017-01-02 07:00:00
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,11:00:00,REGULAR,5993659,2028883,2017-01-02 11:00:00
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,15:00:00,REGULAR,5993912,2028982,2017-01-02 15:00:00
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,19:00:00,REGULAR,5994282,2029042,2017-01-02 19:00:00
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,23:00:00,REGULAR,5994466,2029065,2017-01-02 23:00:00
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,03:00:00,REGULAR,5994505,2029072,2017-01-03 03:00:00
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,07:00:00,REGULAR,5994533,2029121,2017-01-03 07:00:00
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,11:00:00,REGULAR,5994717,2029452,2017-01-03 11:00:00
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,15:00:00,REGULAR,5995024,2029538,2017-01-03 15:00:00
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,19:00:00,REGULAR,5995873,2029619,2017-01-03 19:00:00
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,23:00:00,REGULAR,5996220,2029661,2017-01-03 23:00:00
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,03:00:00,REGULAR,5996263,2029669,2017-01-04 03:00:00
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,07:00:00,REGULAR,5996284,2029714,2017-01-04 07:00:00
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,11:00:00,REGULAR,5996475,2030048,2017-01-04 11:00:00
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,15:00:00,REGULAR,5996749,2030135,2017-01-04 15:00:00
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,19:00:00,REGULAR,5997537,2030217,2017-01-04 19:00:00
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,23:00:00,REGULAR,5997865,2030259,2017-01-04 23:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
197391,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,05:00:00,REGULAR,5554,301,2017-06-26 05:00:00
197392,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,09:00:00,REGULAR,5554,301,2017-06-26 09:00:00
197393,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,13:00:00,REGULAR,5554,301,2017-06-26 13:00:00
197394,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,17:00:00,REGULAR,5554,301,2017-06-26 17:00:00
197395,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,21:00:00,REGULAR,5554,301,2017-06-26 21:00:00
197396,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,01:00:00,REGULAR,5554,301,2017-06-27 01:00:00
197397,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,05:00:00,REGULAR,5554,301,2017-06-27 05:00:00
197398,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,09:00:00,REGULAR,5554,301,2017-06-27 09:00:00
197399,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,13:00:00,REGULAR,5554,301,2017-06-27 13:00:00
197400,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,17:00:00,REGULAR,5554,301,2017-06-27 17:00:00
197401,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,21:00:00,REGULAR,5554,301,2017-06-27 21:00:00
197402,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,01:00:00,REGULAR,5554,301,2017-06-28 01:00:00
197403,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,05:00:00,REGULAR,5554,301,2017-06-28 05:00:00
197404,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,09:00:00,REGULAR,5554,301,2017-06-28 09:00:00
197405,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,13:00:00,REGULAR,5554,301,2017-06-28 13:00:00
197406,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,17:00:00,REGULAR,5554,301,2017-06-28 17:00:00
197407,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,21:00:00,REGULAR,5554,301,2017-06-28 21:00:00
197408,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,01:00:00,REGULAR,5554,301,2017-06-29 01:00:00
197409,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,05:00:00,REGULAR,5554,301,2017-06-29 05:00:00
197410,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,09:00:00,REGULAR,5554,301,2017-06-29 09:00:00
197411,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,13:00:00,REGULAR,5554,301,2017-06-29 13:00:00
197412,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,17:00:00,REGULAR,5554,301,2017-06-29 17:00:00
197413,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,21:00:00,REGULAR,5554,301,2017-06-29 21:00:00
197414,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,01:00:00,REGULAR,5554,301,2017-06-30 01:00:00
197415,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,05:00:00,REGULAR,5554,301,2017-06-30 05:00:00
197416,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,07:17:19,REGULAR,5554,301,2017-06-30 07:17:19
197417,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,09:00:00,REGULAR,5554,301,2017-06-30 09:00:00
197418,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,13:00:00,REGULAR,5554,301,2017-06-30 13:00:00
197419,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,17:00:00,REGULAR,5554,301,2017-06-30 17:00:00
197420,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,21:00:00,REGULAR,5554,301,2017-06-30 21:00:00

In [76]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(20)

           C/A  UNIT       SCP          STATION           DATE_TIME  ENTRIES
4616479   R518  R261  00-00-00  40 ST LOWERY ST 2017-03-13 12:00:00        2
4414960   R408  R449  00-00-02         E 149 ST 2017-03-10 08:00:00        2
2112136  N329A  R201  01-06-01   WOODHAVEN BLVD 2017-03-17 05:00:00        2
4619779   R518  R261  00-03-00  40 ST LOWERY ST 2017-03-13 12:00:00        2
4620879   R518  R261  00-03-01  40 ST LOWERY ST 2017-03-13 12:00:00        2
711806    G001  R151  00-00-00  CONEY IS-STILLW 2017-05-09 05:00:00        2
4534831   R504  R276  00-00-01   VERNON-JACKSON 2017-05-26 20:00:00        2
4621979   R518  R261  00-03-02  40 ST LOWERY ST 2017-03-13 12:00:00        2
3466052   R158  R084  00-06-00   59 ST COLUMBUS 2017-03-05 03:00:00        2
2101411   N329  R201  00-00-00   WOODHAVEN BLVD 2017-04-28 05:00:00        2
4622484   R518  R261  00-03-02  40 ST LOWERY ST 2017-06-05 08:00:00        2
3465853   R158  R084  00-06-00   59 ST COLUMBUS 2017-01-31 03:00:00        2
4412768   R408  R449  00-00-00         E 149 ST 2017-03-10 08:00:00        2
1053092  N002A  R173  00-00-00    INWOOD-207 ST 2017-03-23 05:00:00        2
4413863   R408  R449  00-00-01         E 149 ST 2017-03-10 08:00:00        2
2768242   N605  R024  00-00-02   SUTPHIN-ARCHER 2017-01-22 15:00:00        2
4534298   R504  R276  00-00-01   VERNON-JACKSON 2017-02-27 15:00:00        2
3178491   R101  R001  02-00-06      SOUTH FERRY 2017-03-24 05:00:00        2
3405766   R145  R032  00-06-02   TIMES SQ-42 ST 2017-03-15 12:00:00        1
3405770   R145  R032  00-06-02   TIMES SQ-42 ST 2017-03-16 04:00:00        1

In [77]:
#18 duplicates total

In [78]:
# On 3/13, we seem to have two entries for same time.  Let's take a look
mask = ((df["C/A"] == "R518") & 
(df["UNIT"] == "R261") & 
(df["SCP"] == "00-00-00") & 
(df["STATION"] == "40 ST LOWERY ST") &
(df["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 13).date()))
df[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
175188,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,00:00:00,REGULAR,4612411,12372306,2017-03-13 00:00:00
175189,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,04:00:00,REGULAR,4612431,12372389,2017-03-13 04:00:00
175190,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,08:00:00,RECOVR AUD,4612534,12372568,2017-03-13 08:00:00
175191,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,REGULAR,4612723,12372892,2017-03-13 12:00:00
175192,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,RECOVR AUD,4612722,12372892,2017-03-13 12:00:00

In [83]:
#drop column #175192. df1 = non duplicates
df1 = df.copy(deep = True)

In [84]:
df1 #df1 was copied correctly!

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,03:00:00,REGULAR,5991546,2028378,2016-12-31 03:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,07:00:00,REGULAR,5991565,2028389,2016-12-31 07:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,11:00:00,REGULAR,5991644,2028441,2016-12-31 11:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,15:00:00,REGULAR,5991971,2028502,2016-12-31 15:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,19:00:00,REGULAR,5992418,2028543,2016-12-31 19:00:00
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,23:00:00,REGULAR,5992638,2028572,2016-12-31 23:00:00
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,03:00:00,REGULAR,5992718,2028585,2017-01-01 03:00:00
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,07:00:00,REGULAR,5992730,2028594,2017-01-01 07:00:00
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,11:00:00,REGULAR,5992776,2028636,2017-01-01 11:00:00
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,15:00:00,REGULAR,5992980,2028680,2017-01-01 15:00:00
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,19:00:00,REGULAR,5993301,2028728,2017-01-01 19:00:00
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,23:00:00,REGULAR,5993515,2028750,2017-01-01 23:00:00
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,03:00:00,REGULAR,5993559,2028754,2017-01-02 03:00:00
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,07:00:00,REGULAR,5993571,2028771,2017-01-02 07:00:00
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,11:00:00,REGULAR,5993659,2028883,2017-01-02 11:00:00
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,15:00:00,REGULAR,5993912,2028982,2017-01-02 15:00:00
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,19:00:00,REGULAR,5994282,2029042,2017-01-02 19:00:00
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,23:00:00,REGULAR,5994466,2029065,2017-01-02 23:00:00
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,03:00:00,REGULAR,5994505,2029072,2017-01-03 03:00:00
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,07:00:00,REGULAR,5994533,2029121,2017-01-03 07:00:00
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,11:00:00,REGULAR,5994717,2029452,2017-01-03 11:00:00
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,15:00:00,REGULAR,5995024,2029538,2017-01-03 15:00:00
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,19:00:00,REGULAR,5995873,2029619,2017-01-03 19:00:00
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,23:00:00,REGULAR,5996220,2029661,2017-01-03 23:00:00
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,03:00:00,REGULAR,5996263,2029669,2017-01-04 03:00:00
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,07:00:00,REGULAR,5996284,2029714,2017-01-04 07:00:00
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,11:00:00,REGULAR,5996475,2030048,2017-01-04 11:00:00
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,15:00:00,REGULAR,5996749,2030135,2017-01-04 15:00:00
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,19:00:00,REGULAR,5997537,2030217,2017-01-04 19:00:00
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,23:00:00,REGULAR,5997865,2030259,2017-01-04 23:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
197391,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,05:00:00,REGULAR,5554,301,2017-06-26 05:00:00
197392,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,09:00:00,REGULAR,5554,301,2017-06-26 09:00:00
197393,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,13:00:00,REGULAR,5554,301,2017-06-26 13:00:00
197394,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,17:00:00,REGULAR,5554,301,2017-06-26 17:00:00
197395,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,21:00:00,REGULAR,5554,301,2017-06-26 21:00:00
197396,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,01:00:00,REGULAR,5554,301,2017-06-27 01:00:00
197397,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,05:00:00,REGULAR,5554,301,2017-06-27 05:00:00
197398,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,09:00:00,REGULAR,5554,301,2017-06-27 09:00:00
197399,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,13:00:00,REGULAR,5554,301,2017-06-27 13:00:00
197400,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,17:00:00,REGULAR,5554,301,2017-06-27 17:00:00
197401,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,21:00:00,REGULAR,5554,301,2017-06-27 21:00:00
197402,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,01:00:00,REGULAR,5554,301,2017-06-28 01:00:00
197403,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,05:00:00,REGULAR,5554,301,2017-06-28 05:00:00
197404,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,09:00:00,REGULAR,5554,301,2017-06-28 09:00:00
197405,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,13:00:00,REGULAR,5554,301,2017-06-28 13:00:00
197406,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,17:00:00,REGULAR,5554,301,2017-06-28 17:00:00
197407,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,21:00:00,REGULAR,5554,301,2017-06-28 21:00:00
197408,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,01:00:00,REGULAR,5554,301,2017-06-29 01:00:00
197409,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,05:00:00,REGULAR,5554,301,2017-06-29 05:00:00
197410,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,09:00:00,REGULAR,5554,301,2017-06-29 09:00:00
197411,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,13:00:00,REGULAR,5554,301,2017-06-29 13:00:00
197412,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,17:00:00,REGULAR,5554,301,2017-06-29 17:00:00
197413,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,21:00:00,REGULAR,5554,301,2017-06-29 21:00:00
197414,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,01:00:00,REGULAR,5554,301,2017-06-30 01:00:00
197415,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,05:00:00,REGULAR,5554,301,2017-06-30 05:00:00
197416,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,07:17:19,REGULAR,5554,301,2017-06-30 07:17:19
197417,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,09:00:00,REGULAR,5554,301,2017-06-30 09:00:00
197418,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,13:00:00,REGULAR,5554,301,2017-06-30 13:00:00
197419,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,17:00:00,REGULAR,5554,301,2017-06-30 17:00:00
197420,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,21:00:00,REGULAR,5554,301,2017-06-30 21:00:00

In [85]:
# On 3/13, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "R518") & 
(df1["UNIT"] == "R261") & 
(df1["SCP"] == "00-00-00") & 
(df1["STATION"] == "40 ST LOWERY ST") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 13).date()))
df1[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
175188,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,00:00:00,REGULAR,4612411,12372306,2017-03-13 00:00:00
175189,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,04:00:00,REGULAR,4612431,12372389,2017-03-13 04:00:00
175190,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,08:00:00,RECOVR AUD,4612534,12372568,2017-03-13 08:00:00
175191,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,REGULAR,4612723,12372892,2017-03-13 12:00:00
175192,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,RECOVR AUD,4612722,12372892,2017-03-13 12:00:00

In [86]:
df1.DESC.value_counts()

REGULAR       5084838
RECOVR AUD      23837
Name: DESC, dtype: int64

In [87]:
# On 3/10, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "R408") & 
(df1["UNIT"] == "R449") & 
(df1["SCP"] == "00-00-02") & 
(df1["STATION"] == "E 149 ST") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 10).date()))
df1[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
169996,R408,R449,00-00-02,E 149 ST,6,IRT,03/10/2017,00:00:00,REGULAR,4313567,2468887,2017-03-10 00:00:00
169997,R408,R449,00-00-02,E 149 ST,6,IRT,03/10/2017,04:00:00,REGULAR,4313567,2468888,2017-03-10 04:00:00
169998,R408,R449,00-00-02,E 149 ST,6,IRT,03/10/2017,08:00:00,REGULAR,4314029,2468972,2017-03-10 08:00:00
169999,R408,R449,00-00-02,E 149 ST,6,IRT,03/10/2017,08:00:00,RECOVR AUD,4314083,2468989,2017-03-10 08:00:00
170000,R408,R449,00-00-02,E 149 ST,6,IRT,03/10/2017,12:00:00,REGULAR,4314378,2469131,2017-03-10 12:00:00

In [89]:
# On 3/17, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "N329A") & 
(df1["UNIT"] == "R201") & 
(df1["SCP"] == "01-06-01") & 
(df1["STATION"] == "WOODHAVEN BLVD") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 17).date()))
df1[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
79945,N329A,R201,01-06-01,WOODHAVEN BLVD,MR,IND,03/17/2017,01:00:00,REGULAR,966224,108783,2017-03-17 01:00:00
79946,N329A,R201,01-06-01,WOODHAVEN BLVD,MR,IND,03/17/2017,05:00:00,REGULAR,966238,108793,2017-03-17 05:00:00
79947,N329A,R201,01-06-01,WOODHAVEN BLVD,MR,IND,03/17/2017,05:00:00,RECOVR AUD,966237,108793,2017-03-17 05:00:00
79948,N329A,R201,01-06-01,WOODHAVEN BLVD,MR,IND,03/17/2017,09:00:00,REGULAR,967156,108799,2017-03-17 09:00:00
79949,N329A,R201,01-06-01,WOODHAVEN BLVD,MR,IND,03/17/2017,13:00:00,REGULAR,967688,108816,2017-03-17 13:00:00

In [90]:
# On 3/13, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "R518") & 
(df1["UNIT"] == "R261") & 
(df1["SCP"] == "00-03-00") & 
(df1["STATION"] == "40 ST LOWERY ST") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 13).date()))
df1[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
175312,R518,R261,00-03-00,40 ST LOWERY ST,7,IRT,03/13/2017,00:00:00,REGULAR,8100034,11649355,2017-03-13 00:00:00
175313,R518,R261,00-03-00,40 ST LOWERY ST,7,IRT,03/13/2017,04:00:00,REGULAR,8100034,11649355,2017-03-13 04:00:00
175314,R518,R261,00-03-00,40 ST LOWERY ST,7,IRT,03/13/2017,08:00:00,RECOVR AUD,8100525,11649562,2017-03-13 08:00:00
175315,R518,R261,00-03-00,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,REGULAR,8101517,11649858,2017-03-13 12:00:00
175316,R518,R261,00-03-00,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,RECOVR AUD,8101517,11649856,2017-03-13 12:00:00

In [91]:
# On 3/13, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "R518") & 
(df1["UNIT"] == "R261") & 
(df1["SCP"] == "00-03-01") & 
(df1["STATION"] == "40 ST LOWERY ST") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 13).date()))
df1[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
175354,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,00:00:00,REGULAR,13199567,4843719,2017-03-13 00:00:00
175355,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,04:00:00,REGULAR,13199567,4843719,2017-03-13 04:00:00
175356,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,08:00:00,RECOVR AUD,13199986,4843914,2017-03-13 08:00:00
175357,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,REGULAR,13200993,4844178,2017-03-13 12:00:00
175358,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,RECOVR AUD,13200992,4844177,2017-03-13 12:00:00

In [96]:
# On 5/9, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "G001") & 
(df1["UNIT"] == "R151") & 
(df1["SCP"] == "00-00-00") & 
(df1["STATION"] == "CONEY IS-STILLW") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 5, 9).date()))
df1[mask].head(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
26960,G001,R151,00-00-00,CONEY IS-STILLW,DFNQ,BMT,05/09/2017,01:00:00,REGULAR,199982,337867,2017-05-09 01:00:00
26961,G001,R151,00-00-00,CONEY IS-STILLW,DFNQ,BMT,05/09/2017,05:00:00,REGULAR,200022,337947,2017-05-09 05:00:00
26962,G001,R151,00-00-00,CONEY IS-STILLW,DFNQ,BMT,05/09/2017,05:00:00,RECOVR AUD,200021,337947,2017-05-09 05:00:00
26963,G001,R151,00-00-00,CONEY IS-STILLW,DFNQ,BMT,05/09/2017,09:00:00,REGULAR,200363,338280,2017-05-09 09:00:00
26964,G001,R151,00-00-00,CONEY IS-STILLW,DFNQ,BMT,05/09/2017,13:00:00,REGULAR,200546,338821,2017-05-09 13:00:00
26965,G001,R151,00-00-00,CONEY IS-STILLW,DFNQ,BMT,05/09/2017,17:00:00,REGULAR,200860,339305,2017-05-09 17:00:00
26966,G001,R151,00-00-00,CONEY IS-STILLW,DFNQ,BMT,05/09/2017,21:00:00,REGULAR,201098,339691,2017-05-09 21:00:00

In [99]:
# On 5/26, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "R504") & 
(df1["UNIT"] == "R276") & 
(df1["SCP"] == "00-00-01") & 
(df1["STATION"] == "VERNON-JACKSON") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 5, 26).date()))
df1[mask].head(9)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
173448,R504,R276,00-00-01,VERNON-JACKSON,7,IRT,05/26/2017,00:00:00,REGULAR,8651134,1430855,2017-05-26 00:00:00
173449,R504,R276,00-00-01,VERNON-JACKSON,7,IRT,05/26/2017,04:00:00,REGULAR,8651156,1430857,2017-05-26 04:00:00
173450,R504,R276,00-00-01,VERNON-JACKSON,7,IRT,05/26/2017,08:00:00,REGULAR,8651459,1430934,2017-05-26 08:00:00
173451,R504,R276,00-00-01,VERNON-JACKSON,7,IRT,05/26/2017,12:00:00,REGULAR,8652461,1431057,2017-05-26 12:00:00
173452,R504,R276,00-00-01,VERNON-JACKSON,7,IRT,05/26/2017,16:00:00,REGULAR,8652911,1431171,2017-05-26 16:00:00
173453,R504,R276,00-00-01,VERNON-JACKSON,7,IRT,05/26/2017,20:00:00,REGULAR,8653329,1431335,2017-05-26 20:00:00
173454,R504,R276,00-00-01,VERNON-JACKSON,7,IRT,05/26/2017,20:00:00,RECOVR AUD,8653331,1431335,2017-05-26 20:00:00

In [100]:
# On 3/13, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "R518") & 
(df1["UNIT"] == "R261") & 
(df1["SCP"] == "00-03-02") & 
(df1["STATION"] == "40 ST LOWERY ST") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 13).date()))
df1[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
175396,R518,R261,00-03-02,40 ST LOWERY ST,7,IRT,03/13/2017,00:00:00,REGULAR,18554690,7374490,2017-03-13 00:00:00
175397,R518,R261,00-03-02,40 ST LOWERY ST,7,IRT,03/13/2017,04:00:00,REGULAR,18554690,7374490,2017-03-13 04:00:00
175398,R518,R261,00-03-02,40 ST LOWERY ST,7,IRT,03/13/2017,08:00:00,RECOVR AUD,18555378,7374670,2017-03-13 08:00:00
175399,R518,R261,00-03-02,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,REGULAR,18556595,7374834,2017-03-13 12:00:00
175400,R518,R261,00-03-02,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,RECOVR AUD,18556595,7374832,2017-03-13 12:00:00

In [103]:
# On 3/5, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "R518") & 
(df1["UNIT"] == "R084") & 
(df1["SCP"] == "00-06-00") & 
(df1["STATION"] == "59 ST COLUMBUS") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 5).date()))
df1[mask].head(5)

Empty DataFrame
Columns: [C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DATE, TIME, DESC, ENTRIES, EXITS, DATE_TIME]
Index: []

In [104]:
# On 3/13, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "R518") & 
(df1["UNIT"] == "R261") & 
(df1["SCP"] == "00-03-01") & 
(df1["STATION"] == "40 ST LOWERY ST") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 13).date()))
df1[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
175354,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,00:00:00,REGULAR,13199567,4843719,2017-03-13 00:00:00
175355,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,04:00:00,REGULAR,13199567,4843719,2017-03-13 04:00:00
175356,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,08:00:00,RECOVR AUD,13199986,4843914,2017-03-13 08:00:00
175357,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,REGULAR,13200993,4844178,2017-03-13 12:00:00
175358,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,RECOVR AUD,13200992,4844177,2017-03-13 12:00:00

In [133]:
#look through all duplicates later. for now, create d2 = the dataframe with no duplicates

In [161]:
df2 = df1.copy(deep = True)

In [162]:
df2.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], 
                          inplace=True, ascending=True)

In [163]:
df2

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,03:00:00,REGULAR,5991546,2028378,2016-12-31 03:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,07:00:00,REGULAR,5991565,2028389,2016-12-31 07:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,11:00:00,REGULAR,5991644,2028441,2016-12-31 11:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,15:00:00,REGULAR,5991971,2028502,2016-12-31 15:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,19:00:00,REGULAR,5992418,2028543,2016-12-31 19:00:00
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,23:00:00,REGULAR,5992638,2028572,2016-12-31 23:00:00
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,03:00:00,REGULAR,5992718,2028585,2017-01-01 03:00:00
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,07:00:00,REGULAR,5992730,2028594,2017-01-01 07:00:00
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,11:00:00,REGULAR,5992776,2028636,2017-01-01 11:00:00
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,15:00:00,REGULAR,5992980,2028680,2017-01-01 15:00:00
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,19:00:00,REGULAR,5993301,2028728,2017-01-01 19:00:00
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,23:00:00,REGULAR,5993515,2028750,2017-01-01 23:00:00
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,03:00:00,REGULAR,5993559,2028754,2017-01-02 03:00:00
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,07:00:00,REGULAR,5993571,2028771,2017-01-02 07:00:00
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,11:00:00,REGULAR,5993659,2028883,2017-01-02 11:00:00
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,15:00:00,REGULAR,5993912,2028982,2017-01-02 15:00:00
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,19:00:00,REGULAR,5994282,2029042,2017-01-02 19:00:00
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,23:00:00,REGULAR,5994466,2029065,2017-01-02 23:00:00
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,03:00:00,REGULAR,5994505,2029072,2017-01-03 03:00:00
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,07:00:00,REGULAR,5994533,2029121,2017-01-03 07:00:00
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,11:00:00,REGULAR,5994717,2029452,2017-01-03 11:00:00
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,15:00:00,REGULAR,5995024,2029538,2017-01-03 15:00:00
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,19:00:00,REGULAR,5995873,2029619,2017-01-03 19:00:00
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,23:00:00,REGULAR,5996220,2029661,2017-01-03 23:00:00
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,03:00:00,REGULAR,5996263,2029669,2017-01-04 03:00:00
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,07:00:00,REGULAR,5996284,2029714,2017-01-04 07:00:00
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,11:00:00,REGULAR,5996475,2030048,2017-01-04 11:00:00
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,15:00:00,REGULAR,5996749,2030135,2017-01-04 15:00:00
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,19:00:00,REGULAR,5997537,2030217,2017-01-04 19:00:00
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,23:00:00,REGULAR,5997865,2030259,2017-01-04 23:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
197391,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,05:00:00,REGULAR,5554,301,2017-06-26 05:00:00
197392,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,09:00:00,REGULAR,5554,301,2017-06-26 09:00:00
197393,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,13:00:00,REGULAR,5554,301,2017-06-26 13:00:00
197394,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,17:00:00,REGULAR,5554,301,2017-06-26 17:00:00
197395,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,21:00:00,REGULAR,5554,301,2017-06-26 21:00:00
197396,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,01:00:00,REGULAR,5554,301,2017-06-27 01:00:00
197397,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,05:00:00,REGULAR,5554,301,2017-06-27 05:00:00
197398,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,09:00:00,REGULAR,5554,301,2017-06-27 09:00:00
197399,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,13:00:00,REGULAR,5554,301,2017-06-27 13:00:00
197400,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,17:00:00,REGULAR,5554,301,2017-06-27 17:00:00
197401,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,21:00:00,REGULAR,5554,301,2017-06-27 21:00:00
197402,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,01:00:00,REGULAR,5554,301,2017-06-28 01:00:00
197403,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,05:00:00,REGULAR,5554,301,2017-06-28 05:00:00
197404,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,09:00:00,REGULAR,5554,301,2017-06-28 09:00:00
197405,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,13:00:00,REGULAR,5554,301,2017-06-28 13:00:00
197406,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,17:00:00,REGULAR,5554,301,2017-06-28 17:00:00
197407,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,21:00:00,REGULAR,5554,301,2017-06-28 21:00:00
197408,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,01:00:00,REGULAR,5554,301,2017-06-29 01:00:00
197409,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,05:00:00,REGULAR,5554,301,2017-06-29 05:00:00
197410,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,09:00:00,REGULAR,5554,301,2017-06-29 09:00:00
197411,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,13:00:00,REGULAR,5554,301,2017-06-29 13:00:00
197412,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,17:00:00,REGULAR,5554,301,2017-06-29 17:00:00
197413,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,21:00:00,REGULAR,5554,301,2017-06-29 21:00:00
197414,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,01:00:00,REGULAR,5554,301,2017-06-30 01:00:00
197415,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,05:00:00,REGULAR,5554,301,2017-06-30 05:00:00
197416,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,07:17:19,REGULAR,5554,301,2017-06-30 07:17:19
197417,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,09:00:00,REGULAR,5554,301,2017-06-30 09:00:00
197418,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,13:00:00,REGULAR,5554,301,2017-06-30 13:00:00
197419,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,17:00:00,REGULAR,5554,301,2017-06-30 17:00:00
197420,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,21:00:00,REGULAR,5554,301,2017-06-30 21:00:00

In [164]:
df2.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

In [165]:
# On 3/13, we seem to have two entries for same time.  Let's take a look
mask = ((df2["C/A"] == "R518") & 
(df2["UNIT"] == "R261") & 
(df2["SCP"] == "00-03-01") & 
(df2["STATION"] == "40 ST LOWERY ST") &
(df2["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 13).date()))
df2[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
175354,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,00:00:00,REGULAR,13199567,4843719,2017-03-13 00:00:00
175355,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,04:00:00,REGULAR,13199567,4843719,2017-03-13 04:00:00
175356,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,08:00:00,RECOVR AUD,13199986,4843914,2017-03-13 08:00:00
175357,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,REGULAR,13200993,4844178,2017-03-13 12:00:00
175359,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,16:00:00,REGULAR,13201368,4844315,2017-03-13 16:00:00